extends layout 

block content 
  div.mainContentContainer  
    h2= title
    section.categoryDetailContainer  
      div.detailSection
        div.detailsContainer 
          p Category Name: #{category.name}
          p Number of items: #{num_of_items}
        div.actionsContainer
          a(href=category.url+'/edit') 
            button.editButton Edit
          a(href=category.url+'/delete') 
            button.deleteButton Delete

      section.itemListContainer 
        //- div.addButtonContainer
        //-   a(href='')
        //-     button Add Item 

        if categoryItems.length 
          ul.itemList
            li.item.itemHeader
              p.name Item name 
              p.category Category 
              p.stocks Stock 
              p.price Price 
            hr

            each item in categoryItems 
              li.item
                if item.imgURL 
                  img(src=item.imgURL, alt="") 
                else 
                  img(src='/images/placeholder-image.webp', alt="") 

                a(href=item.url).name #{item.name}
                a(href=item.category.url).category #{item.category.name}
                p.stocks #{item.stocks}
                p.price P#{item.price}
                button.deleteItemButton
                  img(src="/images/icons/bin.png", alt="")
              hr
        else 
          p No item in the inventory.

        