extends layout 

block content
  div.mainContentContainer
    h2= title 

    section.categoryListContainer
      div.addButtonContainer
        a(href='/home/category/add')
          button Add Category 

      if categories.length 
        ul.categoryList
          li.category.categoryHeader
            p.name Categories 
          hr

          each category in categories 
            li.category
              a(href=category.url).name #{category.name}

              div.categoryActionsContainer
                a(href=category.url+'/edit') 
                  button.editCategoryButton
                    img(src="/images/icons/edit.png", alt="")

                a(href=category.url+'/delete') 
                  button.deleteCategoryButton
                    img(src="/images/icons/bin.png", alt="")
            hr
      else 
        p No item in the inventory.

      
