extends layout 

block content 
  div.mainContentContainer 
    h2= title 

    section.categoryDetailContainer_delete
      div.detailSection_delete
          div.detailsContainer_delete 
            p Category Name: #{category.name}
            p Number of items: #{num_of_items}
      
      section.itemListContainer 

        if categoryItems.length 
          ul.itemList
            li.item.itemHeader
              p.name Item name 
              p.category Category 
              p.stocks Stock 
              p.price Price 
            hr

            each item in categoryItems 
              li.item
                if item.imgURL 
                  img(src=item.imgURL, alt="") 
                else 
                  img(src='/images/placeholder-image.webp', alt="") 

                a(href=item.url).name #{item.name}
                a(href=item.category.url).category #{item.category.name}
                p.stocks #{item.stocks}
                p.price P#{item.price}

                div.itemActionsContainer
                  a(href=item.url+'/edit') 
                    button.editItemButton
                      img(src="/images/icons/edit.png", alt="")

                  a(href=item.url+'/delete') 
                    button.deleteItemButton
                      img(src="/images/icons/bin.png", alt="")
              hr
        else 
          p No items in this category.

      if categoryItems.length 
        h4 Please change all the item's category property or delete the items
      else 
        form(method='POST').deleteMessageContainer
          h4 Are you sure you want to delete this category? 
          button.deleteButton(type='submit') Confirm
